APP_NAME=Upload
APP_KEY=base64:3fBcWUvCUWsQ6JI26yXLHxq50KGBEmJDDtzL/8W1BeA=
APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_DEBUG=true
APP_ENV=local
APP_URL=

SESSION_DRIVER=file

FILESYSTEM_DISK="s3"
MINIO_ENDPOINT="http://minio:9000"
MINIO_ACCESS_KEY="min"
MINIO_SECRET_KEY="12345678"

RABBITMQ_HOST="rabbitmq"
RABBITMQ_PORT=5672
RABBITMQ_USER="guest"
RABBITMQ_PASSWORD="guest"
RABBITMQ_VHOST="/"

AWS_ACCESS_KEY_ID="test"
AWS_SECRET_ACCESS_KEY="test"
AWS_DEFAULT_REGION="us-east-2"
AWS_BUCKET="fase05-ia"
AWS_URL="http://localstack-main:4566"
AWS_ENDPOINT="http://localstack-main:4566"
AWS_USE_PATH_STYLE_ENDPOINT=true

DB_CONNECTION=pgsql
DB_HOST=upload_pg
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres

LOG_CHANNEL=stderr_json
LOG_LEVEL=debug

OTEL_SERVICE_NAME=soat-upload
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_TRACES_SAMPLER=always_on
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp